@import "../../assets/css/spinner";

@font-face {
    font-family: 'YouShe';
    src: url("../../assets/font/YouShe-subfont.ttf");
}

.index {
    width: 100%;
    min-height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    background: #004683;

    .top-banner {
        width: 100%;
        height: 209px;
        background: url("../../assets/img/banner.png") no-repeat 50% 0;
        background-size: 100% 100%;
        font-family: 'YouShe';
        position: relative;
        color: #fff;
        .index-slogan {
            position: absolute;
            left: 0;
            top: 90px;
            width: 100%;
            font-size: 35px;
            text-align: center;
        }
        .index-theme {
            position: absolute;
            left: 235px;
            top: 145px;
            font-size: 18px;
            text-align: center;
        }
    }

    .nav-bar {
        width: 323px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-around;
        &-item {
            width: 105px;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 36px;
            font-size: 16px;
            font-weight: bold;
            color: #FFFFFF;
            background: url("../../assets/img/nav-item.png") no-repeat 50% 50%;
            background-size: 100% 100%;
            transition: ease all 300ms;
            &.active {
                pointer-events: none;
                background: url("../../assets/img/nav-active.png") no-repeat 50% 50%;
                background-size: 100% 100%;
                transition: ease all 300ms;
            }
        }
    }

    .am-tabs-tab-bar-wrap {
        display: none;
        opacity: 0;
    }
    .product {
        &-list {
            width: 321px;
            margin: 5px auto 30px;
            background: #1580aa;
        }

        &-item {
            width: 305px;
            padding: 20px 12px 30px;
            box-sizing: border-box;
            background: url("../../assets/img/item-bg.png") no-repeat 50% 50%;
            background-size: 100% 100%;
            border-radius: 6px;
            margin: 20px auto 26px;
            overflow: hidden;
            position: relative;

            &:hover {
                opacity: 0.9;
            }

            &:active {
                opacity: 0.9;
            }
            .write-btn {
                width: 140px;
                padding-right: 18px;
                height: 30px;
                line-height: 30px;
                margin: 28px auto 0;
                font-size: 24px;
                font-family: 'YouShe';
                color: #FFFFFF;
                text-align: center;
                background: #27b6d3 url("../../assets/img/arrow-right.png") no-repeat 110px 50%;
                background-size: 14px 20px;
            }
        }

        &-name {
            margin-top: 15px;
            display: flex;
            justify-content: space-between;
        }
        &-index {
            width: auto;
            height: 14px;
            font-size: 24px;
            font-weight: bold;
            color: #FFFFFF;
            line-height: 23px;
            font-style: italic;
        }
        &-question {
            width: 240px;
            font-size: 12px;
            font-weight: 400;
            color: #FFFFFF;
            line-height: 25px;
        }
    }

    .no-data {
        height: 155px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        font-size: 14px;
        color: #fff;
    }
    .bottom-tips {
        width: 347px;
        height: 54px;
        margin: 28px auto 34px;
        border-radius: 6px;
        background: url("https://zc-oss.zcrubber.com/upload/files/2020/09/03/bottom.png") no-repeat 50% 50%;
        background-size: 347px 54px;
    }
}
