
@font-face {
    font-family: 'YouShe';
    src: url("../../assets/font/YouShe.ttf");
}

.detail {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background: #014682;
    z-index: 999;
    transition: ease-in-out transform 300ms;
    &-inner {
        width: 100%;
        height: 100%;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #004683 url("../../assets/img/detail-bg.png") no-repeat 50% 50%;
        background-size: 100% auto;
    }
    .quest-form {
        margin-top: -80px;
        width: 317px;
        height: 460px - 10px;
        padding-top: 15px;
        background: #0168A4 url("../../assets/img/border-top.png") no-repeat 50% 0;
        background-size: 100% auto;
        .am-input-item {
            background: none;
        }
        .am-list-line {
            margin-right: 20px;
            border-bottom: 1Px solid #fff;
        }
        .am-list-item .am-input-label {
            font-size: 16px;
            font-weight: bold;
            color: #FFFFFF;
        }
        .am-list-item .am-input-control input {
            font-size: 14px;
            color: #fff;
            &::placeholder {
                color: #eee;
            }
        }
        .am-list-item.am-textarea-item {
            margin: 15px auto;
            width: 291px;
            height: 210px;
            padding: 0;
            background: none;
            flex-wrap: wrap;
            .am-textarea-label.am-textarea-label-5 {
                width: 100%;
                text-align: center;
                padding-left: 40px;
                background: url("../../assets/img/icon-qus.png") no-repeat 40% 50%;
                background-size: 24px 19px;
                font-size: 24px;
                font-family: 'YouShe';
                font-weight: 400;
                color: #FFFFFF;
            }
            .am-textarea-control {
                width: 100%;
                padding: 15px;
                background: #fff;
                border-radius: 8px;
            }
        }
        .am-textarea-control textarea {
            font-size: 16px;
            font-weight: 400;
            color: #041A70;
            line-height: 22px;
            text-align: left;
        }
    }
    .btn-box {
        width: 150px;
        margin: 15px auto 10px;
    }
    .back-btn {
        width: 115px;
        height: 33px;
        padding-left: 23px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #FFFFFF url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADgAAAA4CAMAAACfWMssAAAA/1BMVEUAAABAQEAgICA5OTkzMzMuLi4qKionJyc3NzczMzMwMDAtLS0rKys2NjYzMzMuLi4xMTE1NTUxMTEyMjIzMzMyMjI0NDQxMTEyMjIyMjI0NDQ1NTU0NDQ0NDQyMjIyMjIyMjIyMjIyMjI0NDQzMzMzMzMzMzMyMjIyMjIzMzMyMjI0NDQzMzMzMzMzMzMzMzMyMjIzMzMyMjI0NDQzMzMzMzM0NDQzMzMzMzMzMzMyMjIyMjI0NDQzMzMzMzMyMjIzMzMzMzMzMzMzMzMyMjIzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMyMjIzMzMzMzMzMzMyMjIzMzMzMzMyDzMzAAAAVHRSTlMABAgJCgsMDQ4PEBESExQcLzA0ODw9QENHSEpNU1lbYGFlZmdtbnN1enyEipGSl6qsuLu8vr/BwsPExcbGyMnKzM3Oz9DR5uft7/L09vf4+fv8/f43j2MaAAAA2klEQVQYGe3BxUICARSG0V+JGRFsxQ7sVmxEsREs4nv/Z/G6HDfMZT3nKJFIxBYcN08G5RdWgJLcwipmTV5Dd5hqSk65e0wlkFOuhrkO5DT8gLnKyin/iLnMyKnwhLnIyKnwjDlPy2nkBXOWllP4iimn5HXAn5tyL6c7A4qoE9eGIr6I61ARt8TUGFfEbAdzVOxlJq9/Sh2gtSy/lTbQXpXfUgvorMtv8Qfobspv4Rvobstv7hOzK7/iB2ZPftNNzL78JhuYeflNvANb6sNYnbdR9SM7FSqRSOgXSQ5fAZkIQyEAAAAASUVORK5CYII=") no-repeat 11px 50%;
        background-size: 28px 28px;
        box-shadow: 0 0 8px 0px rgba(0, 0, 0, 0.12);
        border-radius: 20px;
        position: fixed;
        bottom: 50px;
        left: 50%;
        margin-left: -66px;

        font-size: 14px;
        font-weight: 400;
        color: #333333;
        opacity: 0.85;
        z-index: 99999;
        transform: translateZ(100px);
    }
}
